[2020-10-30 00:36] kiprasmel opened #2 "oh no"
oh no ben what have you done

[2020-10-30 10:24] impulse commented on #2
Art

[2020-10-30 11:12] LBlend commented on #2
A much needed feature 😍

[2020-10-30 14:11] Phyrik commented on #2
This is what will get VSCode 100% text editor market share. Mark my words.

[2020-10-30 14:44] bexuma commented on #2
Microsoft is going to buy the extension and enable it by default in the editor.

[2020-10-30 14:58] okumo opened #4 "How do I follow someone or see people's stories?"

[2020-10-30 15:07] NateAGeek opened #5 "Failed to Fetch?"
Hello, I keep getting a failed to fetch error onload... Maybe attach an error code to give more insight. I think you can also pipe data into an output screen on Visual Studio Code that could contain errors.

<img width="549" alt="Screen Shot 2020-10-30 at 10 04 39 AM" src="https://user-images.githubusercontent.com/1813055/97721649-b42a7f80-1a97-11eb-98dd-bde273d7b2e9.png">
<img width="514" alt="Sc

[2020-10-30 15:09] ablil commented on #5
I'm having the same problem, It would be great to display error message instead of `Failed to fetch`, and of course fix the bug

[2020-10-30 15:12] SeksayMan commented on #5
Because Seksay Prn Man is here.

[2020-10-30 15:13] SeksayMan commented on #2
I am Secksay Prn Man and I demand 1 BTC to `14HMsameScJSeGLRQLxcapVmgtaa15HXPv` within 24minutes.
Once payment is made, I will no longer be Secksay Prn Man.

[2020-10-30 15:14] SeksayMan commented on #5
I am Secksay Prn Man and I demand 1 BTC to `14HMsameScJSeGLRQLxcapVmgtaa15HXPv` within 24minutes.
Once payment is made, I will no longer be Secksay Prn Man.

[2020-10-30 15:15] markpanado commented on #2
oh yes

[2020-10-30 15:16] RemiKalbe opened #6 "not worky 💩"
bipbip boopboop
![image](https://user-images.githubusercontent.com/8604600/97722701-397b5780-1acb-11eb-8c54-710728663d03.png)

[2020-10-30 15:16] VytskaLT commented on #2
why is this a thing

[2020-10-30 15:18] kiprasmel commented on #5
yep. from the vscode's devtools, it seems like it'd be a CORS issue?

![image](https://user-images.githubusercontent.com/29430509/97722818-c1fdf600-1ad3-11eb-9e5a-1258661f2661.png)

[code]

the fetch url itself seems broken:

https://bowl.azurewebsites.net/stories/hot

![image](https://user-images.githubusercontent.com/29430509/97722919-dd690100-1ad3-11eb-8e5c-e40776d7247b.png)

[2020-10-30 15:20] GiancarlosIO commented on #6
same here :(

[2020-10-30 15:20] samuelbarata commented on #6
Duplicate of #5

[2020-10-30 15:20] SeksayMan commented on #5
You silly goose, check his twitter - he had to take it down because some troll was posting stuff.

[2020-10-30 15:21] kiprasmel commented on #5
oof

https://twitter.com/benawad/status/1322189944803282947

[2020-10-30 15:22] daviesesiro commented on #6
I think his credits has finished on azure😞😞

[2020-10-30 15:22] CallmeHongmaybe commented on #5
I'm having the same error when I click the icon on the side bar.

[2020-10-30 15:22] RemiKalbe commented on #6
![image](https://user-images.githubusercontent.com/8604600/97723474-1ef5ae00-1acc-11eb-8d0c-9a9ba5ce18d1.png)

[2020-10-30 15:22] RemiKalbe commented on #6
![image](https://user-images.githubusercontent.com/8604600/97723487-24eb8f00-1acc-11eb-8d54-757e92c7e192.png)

[2020-10-30 15:24] SeksayMan commented on #6
https://github.com/benawad/vscode-stories/issues/5#issuecomment-719611491

[2020-10-30 15:36] SibiAkkash commented on #6
Ahh, that's why

[2020-10-30 16:05] ViNoS-ab commented on #6
oh i see why

[2020-10-30 16:06] canicjusz commented on #6
knew this would happen.

[2020-10-30 16:09] ViNoS-ab opened #7 "wow how you got the idea"
bro what did you do , now I will open only vscode xD
and how the heck u got the idea of stories in an editor
(when you make it up again i will delete the issue don't worry)

[2020-10-30 16:33] shanjng commented on #4
Worrd I'm tryna do that

[2020-10-30 16:38] RemiKalbe commented on #6
it worky 😍

[2020-10-30 16:38] #6 closed

[2020-10-30 16:40] stringie opened #8 "Not loading stories"
![stories](https://user-images.githubusercontent.com/23170702/97732523-50c44000-1adf-11eb-9c13-ca6cfe4ae89b.png)

Nothing is getting loaded. It's like it's not making a request.

[2020-10-30 16:41] ZackaryH8 commented on #7
The idea came from [here](https://twitter.com/catalinmpit/status/1317876896361754624)

[2020-10-30 16:46] gargakshit opened #9 "Unable to open 'xxxxxx-1604076279902.gif': File is a directory."
![image](https://user-images.githubusercontent.com/15605299/97733192-82e49a80-1afd-11eb-8ce9-138dd28779d1.png)
Well I just installed the extension, and this happened.

OS: Windows

[2020-10-30 16:58] pedrohenriquebr opened #10 "How to search an username?"
I want to search someone story by username

[2020-10-30 17:06] pedrohenriquebr opened #11 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `stories`
- Extension Version: `1.2.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.50.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-10-30 17:17] jshepin opened #12 "add friends through github"

[2020-10-30 17:18] Milo123459 opened #13 "nsfw filter doesnt work"
uh the nsfw filter doesnt work on the extension

[2020-10-30 17:18] ViNoS-ab opened #14 "no nsfw filter"
i thought you shut the extension down to add a nsfw filter
but it doesn't work

[2020-10-30 17:30] #14 closed, assigned to nobody

[2020-10-30 18:03] Milo123459 commented on #13
@benawad Probably not the right place to ask but, in the API is there ever an instance of the gif as a buffer? In the post route Im trying to test for NSFW content but cant find the actual story

[2020-10-30 18:04] benawad commented on #13
I'm dm on discord

[2020-10-30 18:15] pedrohenriquebr commented on #2
VSCode the text editor and social network lol

[2020-10-30 18:20] Milo123459 commented on #13
Submitted my pr! Would appreciate any reviews:
https://github.com/benawad/vscode-stories-serverless-image-uploader/pull/3

[2020-10-30 18:47] MrDogeBro opened #15 "Can't Record Stories"
Whenever I try to record a story I get the error `Cannot read property 'width' of undefined`. Any clue why this is or how to fix it?
![Screen Shot 2020-10-30 at 2 40 55 PM](https://user-images.githubusercontent.com/35872177/97744701-14341c80-1abe-11eb-803b-ea3b7608d528.png)

### Details
OS: `Mac`
Date: `10/30/20`
VSC: `1.50.1`

[2020-10-30 19:11] ViNoS-ab commented on #15
check if your code has errors

[2020-10-30 19:44] JonnyBeoulve commented on #13
Hi YouTube.

[2020-10-30 20:38] Flubio opened #16 "Recording stops after est. 1 milisec."
![image](https://user-images.githubusercontent.com/46036162/97754463-da800780-1af7-11eb-86d1-ee216a2d9f97.png)

The error is shown directly after the pre countdown is finished

OS: `Windows_NT x64 10.0.19041`
VSC: `Version 1.50.1`

[2020-10-30 20:44] ViNoS-ab opened #17 "suggestion: add comments"
it will be great if we comment so we can help if anyone have a bug or a problem

[2020-10-30 22:47] hipniusF commented on #15
Do you have ffmpeg install?

[2020-10-30 23:47] DynamicSquid commented on #17
Soon this'll look like TikTok but for VSCode :)

[2020-10-31 01:20] gustavoFreireS opened #18 "can't record anymore :/"
I received this message when I tried to record something:

<img width="470" alt="Captura de Tela 2020-10-30 às 22 15 57" src="https://user-images.githubusercontent.com/8769796/97767841-98f25b00-1afd-11eb-996a-29379ea8675a.png">

**suggestion**: use something like this to verify if the image/gif is NSFW
https://github.com/infinitered/nsfwjs

[2020-10-31 01:33] phawazzzy opened #19 "suggestion : Filter stories by language"
As a developer, I might want to only see stories that are of a specific language.
I think that can be achieved by allowing people to choose the language their story is related to.

[2020-10-31 02:10] TheFern2 commented on #18
He's already using that, and not working very good. I can't believe people can't act like adults.

[2020-10-31 03:00] SibiAkkash opened #20 "suggestion: Recording should stop after a fixed time"
I forgot that I was recording, i realised after 40 minutes omg.

[2020-10-31 03:46] DavidMunozMartinez commented on #17
Ayyyy am working on a PR for this bois, hopefully papa Ben looks at it and approves it

[2020-10-31 05:26] DavidMunozMartinez commented on #4
Currently the extension uses a user name defined in the settings, and there is no "follow" feature, at the its current state you can see everything that is posted by everyone

[2020-10-31 06:01] HariAcidReign commented on #10
Is this a recently added feature? Cuz right now all usernames seem to be user-generated.

[2020-10-31 06:16] HariAcidReign opened #22 "Suggestion : Using regex to not allow NSFW usernames"
Is this an issue that needs addressing? Right now the names seem to be combinations of animals, colors, etc but will this suffice when say, a friend request feature, or search people based on username feature is added?

PS: I would like to work on this feature if its viable

[2020-10-31 06:21] Avi98 commented on #4
related to #4

[2020-10-31 06:22] Avi98 commented on #4
related to #10

[2020-10-31 06:39] CallmeHongmaybe commented on #22
Yo good suggestion

[2020-10-31 06:41] CallmeHongmaybe commented on #20
LOOL ur serious

[2020-10-31 06:53] SibiAkkash commented on #20
yes lmao

[2020-10-31 07:46] findtravishere commented on #18
this is why we can't have nice things. dumb kids thinking they're funny. at least it means we get more improvements for this extension

[2020-10-31 09:01] theluk opened #23 "Not compatible with VS Code 1.49.1"
Honestly, I saw the extension on twitter yesterday and then decided to go into office today, ON FREAKING SATURDAY, to try it out as I left my notebook here. But now I must see, that it does not work for my VSCODE.

![asdf](https://media.giphy.com/media/gd09Y2Ptu7gsiPVUrv/giphy.gif)

![image](https://user-images.githubusercontent.com/580946/97775326-059e4180-1b60-11eb-8d9e-e404b97e3660.png)

[2020-10-31 10:16] dephraiim commented on #23
Upgrade to the latest version.

[2020-10-31 10:51] tomavic opened #24 "Excuse me but how is this useful or kinda entertainment?"

[2020-10-31 10:53] Amenacliff commented on #20
Can I work on this ? Want it to be 30 seconds long or a minute ?

[2020-10-31 11:25] Satak opened #25 "Add feature: post just text"
Gif posting seems a bit overkill in some scenarios. Instead a story could be just a basic markdown text post, kind of a VSCode tweet-a-like post, about what are you working on. This could replace daily meetings.

[2020-10-31 11:27] SibiAkkash commented on #20
sure man @Amenacliff go for it, its gonna take me a while to read and understand, im a newb lol

[2020-10-31 11:27] Satak opened #26 "Add feature: GitHub authentication"
Add feature to authenticate with GitHub and use your GH as the username. Also search for users is needed to friend them. GitHub groups could be used as filters too.

[2020-10-31 11:32] YazeedAlKhalaf commented on #26
VS Code has the authentication built-in for syncing settings so I guess there is some API exposed to do so ✨

[2020-10-31 11:42] SibiAkkash commented on #20
actually @Amenacliff , can i try working on this, this will be my first ever open source contribution, and i'm trying to learn too. Do you mind...?

[2020-10-31 11:44] Amenacliff commented on #20
Okay sure if you want to , you can work on it 😀

[2020-10-31 11:46] SibiAkkash commented on #20
thanks man @Amenacliff, ill take some time, but ill try atleast
😄👍👍

[2020-10-31 12:10] ismaproco commented on #10
you can set the user name going to

settings > stories

![image](https://user-images.githubusercontent.com/180197/97778853-c4963500-1b3f-11eb-995f-205a08aa367b.png)

[2020-10-31 12:40] HariAcidReign commented on #10
Issue #22 would be of use then, right? @ismaproco

[2020-10-31 13:03] benawad commented on #20
it should stop after 30 seconds automatically but maybe something went wrong

[2020-10-31 13:10] SibiAkkash commented on #20
maybe its a problem with my ffmpeg install ? Anyway the server allows videos upto 30 seconds in length, so maybe this is not a big issue 🤷‍♀️

[2020-10-31 13:16] benawad commented on #22
@HariAcidReign go for it

[2020-10-31 14:31] kurtextrem commented on #26
Would also make it easier to ban people uploading nsfw stuff.

[2020-10-31 14:50] gsilvers opened #28 "Feature Request - Emoji's"
Just need emoji's man... all of them.

[2020-10-31 15:11] TheFern2 commented on #23
That's because when you write an extension with yeoman the vscode api is usually the latest version same as vscode version in package.json, and is not backwards compatible.

@benawad can probably decide how much versions he wants to go back to support, because I realize not everyone wants to constantly upgrade and possibly break a working plugin.

Version Compatibility is explained in page below.

[2020-10-31 15:13] CallmeHongmaybe commented on #20
@SibiAkkash can i join you on this wun

[2020-10-31 15:27] SibiAkkash commented on #20
sure @CallmeHongmaybe

[2020-10-31 15:34] TheFern2 commented on #10
Yeah searching, and following or pinning some users would be great! :smiley:

[2020-10-31 15:38] DGKSK8LIFE opened #30 "improve docs"

[2020-10-31 15:54] CallmeHongmaybe commented on #20
Shall we discord @SibiAkkash

[2020-10-31 15:59] CallmeHongmaybe opened #31 "suggestion: considering adding a report button next to the heart one"
Once the report button is pressed the video gets pulled down from the DB. At least in my imagination

[2020-10-31 16:23] TheFern2 opened #32 "Suggestion: Recording Story on status bar space"
I don't know how many stories per day people will post, but the placement of the play button and Record Story takes a lot of valuable space on the status bar that also other extensions and the text editor use. Could perhaps just make it into an icon only, or RS, or just icon and when you hover show Record Story this is how a few other extensions work too.

![image](https://user-images.githubuserco

[2020-10-31 16:39] TheFern2 opened #33 "Suggestion: Set folder where it saves"
Extension generates a new folder on home folder called `Recordings` this directory should probably be a configuration set directory.

[2020-10-31 16:43] kirtirajsinh commented on #30
What should be improved?

[2020-10-31 17:17] arnav03mehta opened #35 "Suggestion: Add more language flairs"
Add more language flairs like python, go, cpp, java, etc.

[2020-10-31 17:18] arnav03mehta commented on #2
The social network for programmers

[2020-10-31 17:25] matronator commented on #30
Everything

[2020-10-31 17:48] TheFern2 opened #37 "Bug: When uploading when server is either down or upload takes forever"
I think server is down, but I just wanted to test what happens when you try to upload when is down. The progress goes on forever there is no timeout or way to cancel upload.

[code]

[2020-10-31 17:52] SibiAkkash commented on #20
sure fam, send discord id @CallmeHongmaybe

[2020-10-31 18:07] YazeedAlKhalaf commented on #35
I have made a PR for Flutter, Will do other languages 🚀

[2020-10-31 18:50] Tiberriver256 commented on #24
Watch his other YouTube videos. It was a joke. A very sarcastic dry joke. That a lot of people actually turned out to enjoy, lol.

[2020-10-31 19:17] TheFern2 opened #38 "Suggestion: How to fix nsfw issues and improve the extension overall"
I think trying to fight nsfw with vision apis and whatever other plugins is going to be a forever fight, and quite frankly not worth it given that code is text based anyways.

I suggest you switch to text file based stories. Select a piece of code then upload story, via a extension command. The file might need some restriction based on file size, or how many characters, etc, so people don't upload

[2020-10-31 19:30] benawad commented on #38
agreed, do you think we need to worry about inappropriate ascii art?

[2020-10-31 19:42] TheFern2 commented on #38
I didn't even think about ascii art tbh, yes that's another concern. Though ascii art should be relatively easier to spot as is usually sequentially random letters, same letters, and/or white space. If anyone is coding like that I'll be more worried.

[2020-10-31 19:46] #33 closed

[2020-10-31 19:46] #32 closed

[2020-10-31 19:48] benawad commented on #30
PR's welcome :)

[2020-10-31 19:51] proghead00 opened #39 "Admin access and regular checks"
It's sad to see that you had to disable uploading any further story. It's a great extension, and what you can do is, appoint admins for the same, and stories get uploaded only after a quick review by the admin.

[2020-10-31 19:54] hormelcookies opened #40 "Suggestion: delete this for the good of humanity"
It's starting as a joke, but it will rapidly become unironic and it will be terrible. Delete this before it happens and save us all from the horror that will inevitably follow.

[2020-10-31 19:54] TheFern2 commented on #38
Could also add an option for automatic scrolling to give the feeling of a story video.

[2020-10-31 20:04] anubra266 commented on #24
Well it's a start, could become an actual developer circle in vscode, on improvements

[2020-10-31 20:08] anubra266 commented on #40
People like you give me the strength to continue when I'm discouraged.
But I actually wonder why u're on github or how you found ur way here

[2020-10-31 20:11] anubra266 opened #41 "Move Forward"
I don't care what others are saying. I love this
It brought smiles to my face.
You could make it a league kind of thing, instead of General, so users can only see those they follow.

[2020-10-31 20:35] TheFern2 commented on #41
Yeah the idea is solid af. Just need to clean up the rough edges.

[2020-10-31 20:48] TheFern2 commented on #24
I mean if is not useful or entertaining, why are you here? Just don't download the extension.

[2020-10-31 21:02] anubra266 commented on #41
Thank God!
Here is [someone](@TheFern2 ) Who sees things for what they could become

[2020-10-31 21:35] gspolima commented on #31
It's one solution but I think some people would abuse it and start reporting stories for no reason other than pure harassment. If it's implemented, the content shall not be instantly pulled down from the database before some sort of content 'revision', made either by a human or an AI built for that purpose.
I hope you guys can figure out how to deal with those troublemakers and get them out of the

[2020-10-31 21:46] FluentCoding commented on #10
I've kinda implemented searching (only searches for stories of a specific user in the fetched list) (https://github.com/benawad/vscode-stories/pull/42), and I'll probably take a look at following.

[2020-11-01 01:45] CallmeHongmaybe commented on #20
CYriLLic1806 #6466

[2020-11-01 02:22] MrDogeBro commented on #15
Yes — I had a second VSCode window open, don't know if that was causing the issue or not but it's working now.

[2020-11-01 02:23] #15 closed

[2020-11-01 04:54] arnav03mehta commented on #35
I'm adding the python and java flairs now and wanted some suggestions about what I should put in their descriptions.

[2020-11-01 05:19] arnav03mehta commented on #35
i'm currently on "for the snake lovers" for python and "if you like coffee" for java,

[2020-11-01 05:26] YazeedAlKhalaf commented on #35
this pull request [https://github.com/benawad/vscode-stories/pull/44](https://github.com/benawad/vscode-stories/pull/44) is related to this issue. Can you suggest new languages there?

[2020-11-01 09:23] arnav03mehta commented on #35
added 2 more flairs in #45 (golang and cpp)

[2020-11-01 10:14] #35 closed

[2020-11-01 12:18] HerrEurobeat commented on #40
Suggestion: Better close this issue before more thumbs down come in...

[2020-11-01 12:46] breadnone opened #46 "Infinite Scroll"
Infinite scroll on home page rather than have to click "Load More"

[2020-11-01 13:45] hyperloop11 commented on #38
I had a suggestion in this regard, you could train a ML classification model on different vs code themes. It could figure out which stories are from vs code and which are not, then publish only those stories which are vs code screen recordings. This will not fix inappropriate ascii art problem, though.

[2020-11-01 13:48] YashMunjal commented on #22
Sorry but I wanna help regarding the NSFW content @benawad. I am kinda lost but just wanna ask that is this capture the screen at the time or the keystrokes while the stories are being recorded?

[2020-11-01 13:57] hyperloop11 commented on #38
I had a suggestion in this regard, you could train a ML classification model on different vs code themes. It could figure out which stories are from vs code and which are not, then publish only those stories which are vscode screen recordings.

[2020-11-01 14:12] Bobj2018 opened #47 "Explicit Content"
I am scrolling through the extensions and it seems like a few trolls have made their way to the extension and have shared some explicit content and that ruins the experience. We need a way to filter and moderate stories going into the server.

[2020-11-01 14:24] Bobj2018 commented on #38
Yes, I agree, something needs to be done 🤔. I was looking forward to see projects people are working on but instead, the top post was a warning about some troll posting NSFW content. There are other images too, like a chicken nugget?

[2020-11-01 14:30] Bobj2018 commented on #26
Yes, that would be a great start to tackle the NSFW content as most developers SHOULD have github. Of course, we would have a few that would troll, but it will make it easier to take care of the problem.

[2020-11-01 14:49] TheFern2 commented on #38
@hyperloop11 It doesn't really matter much if you do ML for vscode themes. You can preview an image on vscode and that image can be anything. I bet people can even figure out how to have vscode in the background and a porn video in the front overlayed. That would trick the ML that it is vscode related, no?

[2020-11-01 14:53] ZackaryH8 commented on #47
#13 Duplicate Issue

[2020-11-01 15:30] Manthee1 opened #48 "Story bubbles duplicating when refresh is clicked multiple times"
When refresh is clicked multiple times there is a chance that the same array of story bubbles shows up twice or more times.
![image](https://user-images.githubusercontent.com/19632077/97807161-88f28c80-1c5f-11eb-87dc-237dc3bd5263.png)

[2020-11-01 15:43] breadnone commented on #48
Confirmed

[2020-11-01 15:43] yum650350 opened #49 "Suggestion: Title of the story"
Is adding title to the story a good idea?

[2020-11-01 17:04] stemount commented on #22
@HariAcidReign @YashMunjal have a look and open a PR but this issue should be API side. https://github.com/benawad/vscode-stories-api/issues/7

[2020-11-01 17:05] pixelomer opened #50 "README.md and the plugin description on Visual Studio Code has been inaccurate since commit 7164a38"
The plugin switched from GIF stories to text-based stories in commit 7164a38. However, both README.md and the plugin description still showcase the GIF functionality of the plugin, which no longer exists.

[2020-11-01 17:10] benawad commented on #22
https://github.com/benawad/vscode-stories-api/issues/7#issuecomment-720120604

[2020-11-01 17:10] #22 closed

[2020-11-01 17:38] pranavnt opened #51 "Unexpected token U in JSON at position 0"
When opening up the stories tab, I got the error "Unexpected token U in JSON at position 0", which indicates that `json.parse` was being used on `undefined`.

[2020-11-01 17:39] benawad commented on #51
are you on latest version?

[2020-11-01 17:53] DaijobuDes opened #52 "[Feature Request] An option to delete own story"
As the title says, would be nice to place a delete option on our own stories in case something that was not meant to be shared in the stories or a mistake was made.

And I saw someone said "how to delete stories"

![image](https://user-images.githubusercontent.com/38452446/97810357-2ecce800-1cae-11eb-9998-65418686c366.png)

[2020-11-01 18:20] ReactHTMLCSS commented on #47
@Bobj2018 I can confirm that has also happened to me

[2020-11-01 18:21] bnayahu0 opened #53 "Run your Own Server"
Hi,
I got an isolated network, and i want to run vscode-stories in my network.
what i need to run? what is the different between that 3 projects?

[2020-11-01 18:22] ReactHTMLCSS commented on #2
How are you not a developer at Microsoft my guy?

[2020-11-01 18:27] pranavnt commented on #51
Just updated it and it works!

[2020-11-01 18:27] #51 closed

[2020-11-01 18:28] ReactHTMLCSS opened #54 "Can't heart code"
is this because of the removal of gifs?

[2020-11-01 18:36] stemount opened #55 "Text based VSCode Stories version does not open the original filename in the browser"
e.g. case in point - if I want to save a snippet of code... it's not it's original filename so it suggests to type as this

<img width="1380" alt="image" src="https://user-images.githubusercontent.com/150512/97811237-14284e00-1c71-11eb-8257-809c8b9784b5.png">

[2020-11-01 18:36] sleepyArpan commented on #55
jesus light theme

[2020-11-01 18:38] HariAcidReign commented on #26
https://github.com/benawad/vscode-stories-api/issues/7#issuecomment-720120604

I too feel that a Github OAuth would solve most of the NSFW username issues. #22
I would like to work on the OAuth part w someone if that is viable. 😄

[2020-11-01 18:38] tomavic commented on #24
@TheFern2 that's a typical answer for such question, not A REAL answer why you can find this useful.

[2020-11-01 18:39] anubra266 commented on #24
@tomavic It's as useful as any Social Network, if only you'll try to help its progress.

[2020-11-01 18:41] tomavic commented on #24
@anubra266 Yeah I'd like to invest time to do this for sure. I believe that our job is not that much social even if we working with team. As we all working from home and apart from each other.

This is the only way I can see this useful.

[2020-11-01 18:41] OkiStuff opened #56 "Sleepybear not banned"
Please add a if statement to ban Sleepybear :D

[2020-11-01 18:43] TheFern2 commented on #24
@tomavic Well your question was poorly written and you provided no details on the description other than the title. Are you asking why it can be useful or entertaining? Or are you saying that you didn't find it useful or entertaining? A bit of context can get you a long way.

- entertainment and useful is subjective so what one finds useful might be the same for you.

[2020-11-01 18:46] TheFern2 commented on #35
This might be a dumb question haha, what in the world is flair?

[2020-11-01 19:00] Merlin04 opened #57 "Suggestion: Asciinema style recording"
It would be neat if stories could be recorded still but only by typing text into a file (the extension would monitor the key presses and see at what time they were pressed), and it is converted to a GIF and played back (or by updating the content of the current file).

[2020-11-01 19:03] RandoNandoz opened #58 "Unexpected token U in JSON at position 0"
When I hit the refresh button, or go to the VSCode stories panel, it just returns an error saying `Unexpected token U in JSON at position 0`
![image](https://user-images.githubusercontent.com/30359448/97811834-ecfe5c00-1c31-11eb-87d8-3c2e635116c4.png)

[2020-11-01 19:05] benawad commented on #58
Try upgrading to latest version

[2020-11-01 19:05] #58 closed

[2020-11-01 19:07] St3f4NS commented on #52
Yeah, I think this one is needed. I didnt know about update, accidentally uploaded a file to story. Not a biggie, but still random file got uploaded :D
SOMEONE PLS UPLOAD .ENV FILE :D

[2020-11-01 19:14] St3f4NS opened #59 "Add donation link"
This was just a stupid fun idea at the start, now it can be really useful thing for people.

So, I think we need some way of supporting it, donation link for a start. Later on, pro features.

[2020-11-01 20:17] Dezzmeister commented on #38
The text stories are boring. I suggest you go back to gifs and run a neural network on the backend to reject any stories that have porn. I'm pretty sure there are some open source networks like this, so you wouldn't have to train one yourself.

I would be willing to develop this feature but I simply don't have the time.

[2020-11-01 20:24] TheFern2 commented on #38
@Dezzmeister No matter what you do, people will find ways around it. It isn't worth spending tons of hours fighting porn.

[2020-11-01 20:29] TheFern2 commented on #55
@sleepyArpan goodbye precious eyes.

[2020-11-01 20:31] Dezzmeister commented on #38
No need to spend too much time on it. The neural network can catch most of the blatant violations, and there can be a 'report' feature for anything that slips through the cracks.

[2020-11-01 20:40] TheFern2 commented on #38
Perhaps in the future ML can be tested on the dev branch and you can have the ability for sharing both text based, and gif. With that being said text based offer a great advantage over gifs, is that if you see a piece of code you like or think is cool you can copy. Can't do that with gifs. Anyways closing this. if you can submit PR for ML that would be great, it isn't my field of work.

[2020-11-01 20:40] #38 closed

[2020-11-01 20:44] Dezzmeister commented on #38
I'll work on it

[2020-11-01 21:53] tomavic commented on #24
@TheFern2 Oh yeah! the context was not clear. What I meant, how could you find it useful for you? You know I could build features that are widely popular such as stories into any app, but does it worth it, or just to let people know that you are the one who can build anything to anything and make it work!

[2020-11-01 22:13] TheFern2 commented on #24
@tomavic Tbh I use Instagram and I personally don't even look at people's stories there.

For me is interesting because you can share a bit of code with the community, instead of making a tweet.

If you can build anything into any app do it, and if people like it then you'll be a king. Here Ben took a gamble and he got nearly 10K downloads in a few days I called that a very well liked extension on

[2020-11-01 23:38] Iipal opened #61 "Stories don't work on Windows->WSL (via RemoteWSL extension)"
![image](https://user-images.githubusercontent.com/31858171/97818569-cd0b7e80-1cab-11eb-96d0-5d1f8d7ecf46.png)

[2020-11-02 01:40] HariAcidReign commented on #31
Excellent suggestion. Maybe we can work on this together if Ben gives the go-ahead.

[2020-11-02 02:33] henryboisdequin opened #62 "Opening Stories on a File / Moving Back to Gifs"
When a button shows up to replay the story and the window with the story is closed, it plays on a file that I'm working on, hence messing up my file. I think it would be best to switch to gifs again or we could have an option to create a gif or text one.

[2020-11-02 02:38] benawad commented on #62
Try upgrading, just released something to try to fix that.

[2020-11-02 02:42] henryboisdequin commented on #62
Yes, that fixes my problem, but still, a text file is a bit weird. I have to open it, and then discard it, I think a gif was much cleaner. Also, gifs will work better with all of the potiental features coming: comments, editing, descriptions, etc.

[2020-11-02 03:31] benawad commented on #62
Yeah text recording might be too clunky

[2020-11-02 07:06] breadnone commented on #62
@benawad The text recording has issues remembering it's last position, e.g: If my code is very long and I type it at the center, it wouldn't remember the last position when  it was recorded..

+1 for gif recording

[2020-11-02 11:46] spoon611 commented on #23
The extension uses webview to display the stories in the sidebar. This is only available from vscode > 1.50

https://code.visualstudio.com/updates/v1_50#_webview-views

[2020-11-02 12:44] khaledosman commented on #13
The internet is a beautiful place, why ruin it with censorship? Kappa

[2020-11-02 12:59] tomavic commented on #24
@TheFern2 I believe that, not only building anything to any app is the major here, but the most important is how many followers you have to make the bang.

[2020-11-02 13:03] TheFern2 commented on #23
Yup if using latest features, then yeah extension can't support any old vscode versions kind of a bummer. I know I hate to upgrade vscode everytime due to an extension, but in this case webviews seem like the best choice.

[2020-11-02 13:53] FluentCoding commented on #57
That's what I've also thought. We could e.g. record every single cursor movement and every file addition and play it afterwards.

[2020-11-02 16:32] benawad opened #64 "keybinds"
https://twitter.com/Arpan____/status/1323301724702994432

[2020-11-02 17:31] SatvikR commented on #64
I think I can PR for this. Are there any specific shortcut combinations I should use?

[2020-11-02 17:49] benawad commented on #64
surprise me

[2020-11-02 18:11] #23 closed

[2020-11-02 18:11] theluk commented on #23
thanks guys

[2020-11-02 19:13] 0rShemesh opened #66 "How do i create my own server"
Hey,
I very liked your idea!!!!!

@takashi1kun explained what i want to create

### Thanks!

[2020-11-02 22:03] EightRice opened #67 "Prioritize stories with 'follow'"
Use case: I have some coders that I appreciate and would like to find their stories when I start my work, for additional inspiration motivation and all that good stuff. But I don't want to search in that (seemingly endless) list.
Set own story as first in list, and introduce a 'follow' option to prioritize the stories. Potentially even create a visual separation of stories from followed users vs n

[2020-11-02 23:39] mlunax opened #68 "Add to VSCodium extentions repository"
I would love to see vscode-stories in https://open-vsx.org/
I don't want to push it by myself but if you want to delegate to someone else I can handle this.
Best regards,
lunax

[2020-11-03 01:20] TheFern2 commented on #62
I agree we need gifs as an alternative because they are a bit more interactive. And whoever can fight nsfw with gifs my hats off to them, you have imgur with probably a tons of devs and they have nsfw stuff all the time on front page.

Although I think for the text files we should be able to make it more interactive too.

- Autoscroll the file
- The file should be in a way that as soon as you clic

[2020-11-03 02:11] benawad commented on #62
I've decided to move back to gifs, I'm going to make a new branch for it

I'm going to include a report button + being able to follow people + we have GitHub auth so I'm hoping it'll be enough

[2020-11-03 02:12] benawad commented on #66
What?

[2020-11-03 02:13] #64 closed

[2020-11-03 02:18] benawad commented on #57
tried it, but I think I like gif better

[2020-11-03 02:18] #57 closed

[2020-11-03 02:22] TheFern2 commented on #62
Yeah following only some people should be enough, no more worrying about seeing front page porn from strangers.

Github auth is a nice extra layer too.

[2020-11-03 08:55] takashi1kun commented on #66
I think he wants to create its own private self-hosted instance of the stories server that the gif is not uploaded to your azure server but to one of their local servers and they can only see stories on their local network.
I think that way of using the extension can actually be useful as another tool for team-work in a dev team, especially because in business environments you usually can't just s

[2020-11-03 14:03] spyronsk95 opened #70 "Stories not loading and commands not found"
I've tried stories on vscodium, where it was not working. It was loading forever. Also when I want to refresh the stories, it prompts me: "command 'stories.refresh' not found. Same for any other storie related command.

VSCodium and VSCode newest version, OS Ubuntu 20.04

Thought mabye it's VSCodium related. But same happens on VSCode.

E:

Okay, i switched between plugin versions. The last versio

[2020-11-03 20:30] DavidVu96 commented on #66
you run your local server of https://github.com/benawad/vscode-stories-api
then in line 13 of src/query.ts, change the url to your local server

[2020-11-03 20:32] DavidVu96 commented on #53
i think you run https://github.com/benawad/vscode-stories-api and then point your api in query.ts to your local server

[2020-11-04 01:29] RealDyllon commented on #67
I suppose we could make use of github's following api instead of building something separately.

[2020-11-04 04:34] bar9 commented on #70
If you rename ~/.vscode/extensions/benawad.stories/Playback.js to lowercase playback.js, it works. I assume this works on a mac (and for the majority of users) because of the case-insensitive file system of mac.
I'll try and follow up with a PR.

[2020-11-04 04:45] JackQAQ-byte commented on #70
@bar9 's method work on linux as well (Manjaro), thanks! :100:

[2020-11-04 04:49] benawad commented on #70
I just published a new version with that file renamed which I think should fix it.

[2020-11-04 06:02] Oxicode commented on #61
Pensé q era error mío :S

[2020-11-04 15:12] #70 closed

[2020-11-04 16:05] NatoBoram commented on #19
It could also use the filename extension. It wouldn't help differentiate the multitude of JavaScript frameworks, but I think it's good enough!

[2020-11-04 18:49] tofitech commented on #49
This would be great.

[2020-11-04 23:52] aymaneMx commented on #25
yeah, a markdown text!! 🚀

[2020-11-05 16:25] grovertb commented on #61
+1

[2020-11-05 21:57] 0rShemesh commented on #66
@benawad
i think your idea is amazing for team work in dev team!

[2020-11-05 23:59] benawad commented on #61
could you toggle developer tools from command palette and see if there's an error

[2020-11-06 10:25] Iipal commented on #61
@benawad
![image](https://user-images.githubusercontent.com/31858171/98355618-0c7af780-202b-11eb-91ac-e0c0d1830c0f.png)

only this

[2020-11-06 11:24] stemount commented on #66
@0rShemesh @DavidVu96 @takashi1kun @benawad

This is a compliment, an idea and also just the "technical how-to" of how to do this:

- What is the implementation for deploying as this has an API and a serverless action for the image upload?
  - Would your "company" want to deploy CloudFormation or similar templates to this
  - One huge downside I see here is having multiple versions of VS Stories o

[2020-11-06 14:07] benawad commented on #61
That's an ok warning, can you try opening the webview developer tools from command palette and see if there's anything in there? Also check the network tab to see if the request works ok and gets data.

[2020-11-06 14:08] benawad commented on #66
I could add a setting that lets you change the api endpoint, so you can keep the same extension.

[2020-11-06 15:34] Iipal commented on #61
@benawad can't open webviews dev.tools at all

[2020-11-06 16:13] benawad commented on #61
interestingly enough if you click on the S in the sidebar:
![image](https://user-images.githubusercontent.com/7872329/98388474-71792200-2018-11eb-9a03-b3e87d50fd41.png)
that seemed to work for me, then clicking back to the other panel and closing/opening it got it to work.

For some reason the first time the webview loads it can't find the script/css files but then they show up ??

[2020-11-06 17:43] rpush-01 commented on #56
i support this

[2020-11-06 23:44] Iipal commented on #61
@benawad yeah, by chaotically clicking on the icon on the sidebar and on the window on explorer really works for me too. seems like a good solution for this issue xd

[2020-11-07 10:31] kamenchunathan opened #72 "Feature request: advanced search and filtering by language and frameworks"
It would be nice to be able to filter by the languages, frameworks, or other features of the code.

This could be implemented by allowing people to select the language they're using and adding it as a tag, togetherl with their framework of choice and any other tags they may like to add. At a later level perhaps the serverside could autodetect the language but I guess that would require a new issue

[2020-11-07 11:09] kamenchunathan opened #73 "Syntax highlighting not available"
I don't know if this was caused by the move back to GIFs but syntax highlighting seems to have been lost.

![Screenshot from 2020-11-07 14-07-16](https://user-images.githubusercontent.com/48732508/98439404-bc6f6400-2102-11eb-88db-72c5efc68117.png)

[2020-11-07 14:57] benawad commented on #73
The code is now inside a webview, so we will have to add syntax highlighting ourselves

[2020-11-08 04:04] judicaelandria commented on #54
you can't hear the code but the keyboard, isn't it?

[2020-11-08 04:06] judicaelandria commented on #28
do you mean emoji for reacting on the story like facebook stories? that would be to have it there too

[2020-11-08 06:39] breadnone commented on #67
Ideally I would follow people that specifically related to their repo or anything related to my job (my work colleague). This feature will mess everything up

[2020-11-08 06:44] breadnone opened #74 "Show git profile on mouse-over"
Just like the title says

[2020-11-08 16:42] JoseDeFreitas opened #75 "Change color of the circle of the stories"
Hello 👋.
I was wondering if the color of the circle of the stories could be changed, as this gradient looks like Instagram's one and doesn't fit with the common VScode themes.
I made a circle blue gradient (same colors as VScode logo) just to show an example:

![vscode-stories-new-color-circle](https://user-images.githubusercontent.com/37962411/98470992-3f51f680-21b7-11eb-8552-5196402c98a2.png)

I

[2020-11-09 01:41] benawad commented on #75
I'll merge if you want to PR

[2020-11-09 02:10] WarenGonzaga commented on #75
Ow I like it... @benawad is the project can cause performance issues?

[2020-11-09 03:41] benawad commented on #75
not that I'm aware of

[2020-11-09 07:15] kamenchunathan opened #76 "Suggestion: Allow setting of defaults such as default playback speed and replay on finish"
I find that the 1x speed is too slow and end up changing it quite a lot. If possible, a way to store user defaults could be added locally or such that the playback speed is set to the same as the previous story viewed.

[2020-11-09 13:55] TheFern2 opened #77 "Adrianjg NSFW ascii image"
Got user in title with ascii image, I guess people just can't help themselves. I'd rather not paste pic here.
Might want to start blocking github users so at least there is some repercussions.

I believe this user is this one @adrianjgil

[2020-11-09 15:02] benawad commented on #77
I hardcoded the id to ban for now, but will probably need to add a system for this

[2020-11-09 15:02] #77 closed

[2020-11-09 15:27] TheFern2 commented on #77
This reminds me, I will work on a npm package to detect ascii art sometime this weekend.

[2020-11-09 15:55] TheFern2 commented on #77
Also not sure what information you get with github auth, but users can change github username, so not sure if the ban can be tied to something more precise like email/s or some other user github uuid. Just a few thoughts.

[2020-11-11 00:34] kkalucha commented on #12
This would be really nice!

[2020-11-11 06:03] gargakshit commented on #9
As the new version doesn't have GIF recording, I am closing this issue

[2020-11-11 06:03] #9 closed

[2020-11-13 11:38] duhan2 opened #81 "Can't get into Settings"
I installed the extension and wanted to configure the settings.
When I opened the VSCode settings and searched for "Stories", it could not find the extension "Stories" in the Settings.
So I am not able to configure the extension.
Reinstalling did not fix the problem either.

[2020-11-13 13:42] benawad commented on #81
There is no longer any settings

[2020-11-13 13:50] duhan2 commented on #81
Thank You

[2020-11-13 14:14] WarenGonzaga commented on #81
@benawad how to login? or use the stories?

[2020-11-13 14:18] benawad commented on #81
@WarenGonzaga when you press record story it'll prompt you

Check the readme on how to view the stories

[2020-11-13 14:36] WarenGonzaga commented on #81
@benawad got it! You may now close this hehe

[2020-11-13 14:37] #81 closed

[2020-11-13 14:59] benawad opened #82 "I sold this extension | New Maintainer"
I have sold VSCode Stories to @bar9 and he will be taking over this codebase.

More info: [https://youtu.be/CHO316LKnZw](https://youtu.be/CHO316LKnZw)

[2020-11-13 15:36] #74 closed

[2020-11-13 15:36] breadnone commented on #74
it was fun but then... Sighs

[2020-11-13 15:37] breadnone commented on #46
it was fun but then... Sighs

[2020-11-13 15:37] #46 closed

[2020-11-13 16:07] TheFern2 commented on #82
Kinda bummed about it, but I will continue to contribute anyways. Glad you got paid!

[2020-11-13 16:42] TheFern2 commented on #82
@bar9 can you comment a bit on the direction you're planning on taking. I literally just had finished setting up my local environment to work on the ban system, but now wondering if I should just wait and see what happens with Ben's repos.

[2020-11-13 16:46] WarenGonzaga commented on #82
@TheFern2 that's the future! Lol

[2020-11-13 16:52] TheFern2 commented on #82
Ngl extensions if done right is a good business just the other day I was listening to a podcast about gitduck extension.

[2020-11-13 16:55] WarenGonzaga commented on #82
@TheFern2 the gitduck is so cool!

[2020-11-13 20:59] TheFern2 commented on #82
Not sure what the future holds for vscode-stories, but I have made a fork [vscode-shares](https://github.com/TheFern2/vscode-shares) where I intend to keep this extension open source since code was written under MIT license. If @bar9 doesn't have intention of oss, then I will add changes on my repo, and push a new extension to marketplace.

[code]

[2020-11-13 21:09] WarenGonzaga commented on #82
@TheFern2 good move! How about server expenses?

[2020-11-13 21:26] TheFern2 commented on #82
@WarenGonzaga I can probably pitch for the first few months, and probably put a server tip meter on the extension so people can donate for server costs.

We'll see what direction this extension goes first though.

[2020-11-13 21:31] WarenGonzaga commented on #82
@TheFern2 awesome! I will watch it on it and support it!

[2020-11-13 22:14] bar9 commented on #82
@TheFern2 and other contributors: I would like to get in touch with you guys. VSCode Stories **will definitely stay open source**. I also like the idea of expanding this to other IDEs, but have no concrete plans for that as the next steps. I'll go out with a kickstarter campaign next week with the goal of financing the next steps of development of stories. I intend to follow the voice of the commu

[2020-11-13 22:28] WarenGonzaga commented on #82
Thanks, @bar9 for your response and we really appreciate that you have that kind of philosophy kind of like Issuehunt.

[2020-11-13 23:16] TheFern2 commented on #82
@bar9 Nice! I always thought oss to be cool as hell but severely underpaid especially for code that helps the community. If it gets a successful funding, and I think it will, it would be nice to do something like bounty rewards  program. Something like this
 https://dev.to/rudderstack/devs-wanted-get-paid-to-contribute-to-rudderstack-s-open-source-software-bjp

Github should have already implement

[2020-11-14 00:46] JoseDeFreitas commented on #75
May this issue be closed?

[2020-11-15 00:24] pranavnt commented on #82
@benawad You need to add "(as an ex-CEO)" to your video titles.

[2020-11-16 07:43] #75 closed

[2020-11-16 07:46] bar9 commented on #41
Kickstarter campaign starting soon: https://www.kickstarter.com/projects/rolandbrand/vs-code-stories
If this succeeds, we can turn this into a sustainable platform.

[2020-11-16 07:48] bar9 commented on #52
@DaijobuDes delete is working except for the confirmation message/refresh needed.

[2020-11-16 07:48] #52 closed

[2020-11-16 10:02] anubra266 commented on #41
@bar9 I'll love to help in any capacity I can.

[2020-11-16 17:31] Bukii commented on #67
Hey, I made a PR for following users. Unfortunately, there isn't a separated section, where you can only see those people, you have followed. But I will continue to look into it, and hopefully add that. Also, using the GitHub API to show your GitHub friends as well, is a nice idea. I would love to try this. :)

[2020-11-16 21:47] bar9 commented on #8
@stringie @benedikt-mayer @simonkurek is this still an issue with the newest version? https://marketplace.visualstudio.com/items?itemName=bar9.stories

[2020-11-16 21:49] benedikt-mayer commented on #8
works for me 👍

[2020-11-16 21:50] bar9 commented on #5
@NateAGeek @kiprasmel @alago1 @esokoloff @maskeyhinal @ablil @CallmeHongmaybe Is this still an issue with the newest version? https://marketplace.visualstudio.com/items?itemName=bar9.stories

[2020-11-16 21:51] bar9 commented on #11
@pedrohenriquebr Is this still an issue with the newest version? https://marketplace.visualstudio.com/items?itemName=bar9.stories

[2020-11-16 22:05] bar9 commented on #56
What has he done?

[2020-11-16 22:09] bar9 commented on #59
@St3f4NS  @IJustDev @TheFern2 @henryboisdequin @Phyrik @anubra266
Here you go: [Kickstarter campaign starting soon](https://www.kickstarter.com/projects/rolandbrand/vs-code-stories)
Thanks for your support, and please spread the word.
Imho in order for this to be really useful there's still a lot to do, especially with the new text stream format which currently feels more like a telegram than code

[2020-11-16 22:09] #59 closed

[2020-11-16 22:17] bar9 commented on #67
@Bukii cool, thanks a lot for this. Will review this asap.

[2020-11-17 03:25] maskeynihal commented on #5
@bar9 I am not having this problem. IMO, this is solved. :tada:

[2020-11-17 07:33] bar9 opened #85 "Stories, when replayed, overwrite text below"
e.g. if you add a few lines as a comment before a block, it's replayed in an ugly way, like in a broken terminal

[2020-11-17 08:17] krissdap opened #86 "Missing autocompleted characters"
Recorded story missed autocompleted closing parentheses.

Version: 2.21.0
OS: MacOS 10.15.7
VS Code: 1.51.1

<img width="525" alt="stories-actual" src="https://user-images.githubusercontent.com/5546755/99363518-6dd27e80-28e7-11eb-8efc-37bde9b8e88f.png">
<img width="281" alt="stories-recorded" src="https://user-images.githubusercontent.com/5546755/99363524-70cd6f00-28e7-11eb-95df-fabe478e557c.png">

[2020-11-17 13:48] LeonardSSH opened #88 "Counting likes (-)"
Small bug when counting likes.

![ezgif-1-84e84a55ac40](https://user-images.githubusercontent.com/35312043/99397860-e59eaa00-28e3-11eb-9907-c0c34af40987.gif)

[2020-11-17 19:05] NateAGeek commented on #5
Thank you :) and good luck with the project 👍

[2020-11-17 19:05] #5 closed

[2020-11-18 16:13] moderatemisbehaviour opened #89 "Keyboard shortcuts clash with the 'save all' shortcut"
I'm no longer able to save all on MacOS using the default keyboard shortcut `alt + shift + s`. This is because the shortcuts for this extension use `alt + shift + s` as part of thei 'chord' shortcuts.

[2020-11-18 18:31] #56 closed

[2020-11-19 07:55] #2 closed

[2020-11-19 07:56] #8 closed

[2020-11-19 08:01] #18 closed

[2020-11-20 08:03] bar9 commented on #54
I think this has been fixed (except for the negative numbers, but there's an issue for that)

[2020-11-20 08:03] #54 closed

[2020-11-20 08:04] #47 closed

[2020-11-20 16:08] piccoloser opened #90 "Overtyping/Incorrect Text in Story Output"
Anything that is filled in by a code snippet (eg. using the `!` shortcut in Emmet) is overwritten by whatever the user types when they tab through values. This only appears in the story replay.

### What was shown in the replay:
[code]
_Note: I changed the_ `<title>` _to "Test," but the value somehow ended up cutting into the_ `<body>` _tag._

### What I actually wrote:
[code]

[2020-11-20 16:27] bar9 commented on #90
Same for autocomplete and e.g. Vim Plugin

[2020-11-21 16:49] Bforsyth1234 commented on #89
THIS drove me nuts....

[2020-11-24 22:30] #12 closed

[2020-11-25 05:24] bar9 commented on #89
This can be easily changed in the Keybindings section of package.json
What would you suggest instead?
Does anyone use the keybindings?

[2020-11-25 05:26] bar9 commented on #86
Thanks for reporting this with a screenshot, appreciate the clarity.
Duplicate of #90

[2020-11-25 05:26] #86 closed

[2020-11-25 05:26] bar9 commented on #90
Same issue: #86

[2020-11-25 05:27] bar9 commented on #85
Probably same as #90

[2020-11-25 05:27] #85 closed

[2020-11-25 05:29] #82 closed

[2020-11-25 05:36] bar9 commented on #73
Who would be in for a brainstorming (e.g. on a videocall) to get to a high-level architectural decision on this? Back go gifs would be an option with good spam filtering and make the extension much more useful with low effort. Recording text with syntax highlighting would be more "codish" - you can copy-paste stories, pipe them into whatever - probably more useful the long run to do it as text but

[2020-11-25 05:42] bar9 commented on #62
Let's continue this discussion under #73

[2020-11-25 05:42] #62 closed

[2020-11-25 05:43] bar9 commented on #61
@Iipal what's the state on this? There was another issue on Ubuntu, maybe this is fixed by now?

[2020-11-25 05:45] bar9 commented on #55
I recently switched to a light theme as well, keeps me more focused

[2020-11-25 05:48] #48 closed

[2020-11-25 05:49] bar9 commented on #25
#73

[2020-11-25 05:49] #25 closed

[2020-11-25 05:59] bar9 opened #91 "Bring frontend and backend repos together?"
I'm open to discuss this.
Reasons to merge: Syncing versions is much easier, also for PRs.
Reasons to keep separate: API would stay open to no matter what frontend (e.g other IDEs)

Thinking about this because of https://github.com/ide-stories/vscode-stories-api/pull/14

Thoughts?

[2020-11-25 08:52] moderatemisbehaviour commented on #89
@bar9

I understand but that pushes the responsibility of thinking of many keybindings for the supported functionality onto me the user rather than the developer - one person can save everyone else a lot of time here. Personally the effort of changing them alone was enough for me to disable the extension and wait for an update rather than take up my own time, just giving the honest feedback 🙂

Def

[2020-11-25 10:00] Bukii commented on #26
Since you have to authenticate with your GitHub acc now, I guess this should be closed now.

[2020-11-25 10:05] Bukii commented on #89
What about changing the keybindings individually in the vscode settings? Default would be null then. For those people that want to use keybindings, they can set it by their own.

[2020-11-25 11:02] #11 closed

[2020-11-25 14:37] Bforsyth1234 commented on #89
I think @Bukii has the right idea. Make them null for the extension. If someone wants to add them they can add them to a keybinding of their choice.

Also even if it can be changed in the package.json, it's of a poor user experience to break the default settings in vs code and leave it to the user to figure out which extension broke it and how to fix it.

[2020-11-25 20:55] Bukii commented on #91
I would like to keep it separate, since it's uncluttered and more manageable. Also, if @MoathAlshorman really wants to make an IntelliJ version, it is best to keep it as it is, imo.

[2020-11-26 05:52] Iipal commented on #61
@bar9 yeah, seems like it's working now just perfect

[2020-11-26 05:52] #61 closed

[2020-11-26 07:18] bar9 commented on #89
I agree, nulling is a good plan. I shouldn't have mentioned package.json, i didn't mean that the user has to change it there, but that it is an easy change for me or another devleoper

[2020-11-26 07:22] bar9 commented on #4
closing, will follow up under #10

[2020-11-26 07:22] #4 closed

[2020-11-26 07:24] bar9 commented on #13
closing for now, in case we bring back GIFs it would be part of that issue

[2020-11-26 07:24] #13 closed

[2020-11-26 07:25] bar9 commented on #16
@Flubio What's the status of this bug (since recording has changed quite a bit)? Does it still occur with the newest version?

[2020-11-26 07:26] bar9 commented on #17
This seems very useful indeed.

[2020-11-26 07:35] bar9 commented on #24
Highly interesting discussion, something that occupied my mind as well (and still does). I'm still closing the issue for housekeeping purposes. Let's take this to social media though: https://twitter.com/RolandBrand5/status/1331863776845553664

[2020-11-26 07:35] #24 closed

[2020-11-26 07:36] #37 closed

[2020-11-26 07:37] #30 closed

[2020-11-26 07:37] #26 closed

[2020-11-26 08:22] DGKSK8LIFE commented on #30
why was this closed? @bar9

[2020-11-27 05:32] bar9 opened #92 "Remove Kickstarter Links"
- One-time message
- Links below the stories

[2020-11-27 10:53] bar9 commented on #30
@DGKSK8LIFE I agree with you that documentation is important and needs to be improved in all places. I closed the issue because this something that will never be "done", especially with evolving software.
But please feel free to open more specific issues concerning documentation, in a granularity we will actually be able to check off, I'll do so myself in any case.

[2020-11-27 10:54] bar9 commented on #91
Sounds fair

[2020-11-27 10:54] #91 closed

[2020-11-27 17:15] DGKSK8LIFE commented on #30
Sounds good. Thanks @bar9

[2020-11-28 17:59] dragonDScript commented on #24
While this started as a joke, I would love having some kind of social network inside VSCode (like this one!)

[2020-11-30 18:14] #89 closed

[2020-11-30 18:16] #92 closed

[2020-12-01 12:59] Flubio commented on #16
No it doesn't occur anymore 👍

[2020-12-01 20:26] #16 closed

[2020-12-03 06:37] pixelomer commented on #50
This was fixed in commit 113ba78.

[2020-12-03 06:37] #50 closed

[2020-12-04 04:30] dungmidside commented on #72
Add tag would be super useful for filter !!!

[2020-12-06 06:19] finnbear opened #93 "Suggestion: Add support for the Atom text editor"
In the future, please consider adding support for other text editors. Atom would be a good first addition, because it is highly extensible.

[2020-12-06 21:58] wdavidcalsin opened #94 "I would like them to add a badge or label"
Something that tells us what language this story is about. It would be great, something like this.

<img width="210" alt="vscodestories" src="https://user-images.githubusercontent.com/52797421/101294269-3a975700-37e4-11eb-8fc7-c62c6b1beec1.png">

[2020-12-07 07:53] bar9 commented on #93
Good idea. That would probably be a new repository that somebody needs to create. I could also imagine putting the different editors on product hunt and see which one gets the most votes. My personal favorite will be vim in any case :smile_cat:

[2020-12-09 16:04] sankalpmukim opened #95 "Suggestion to find the cursor in longer code stories."
In longer codes, the cursor is missing. It would be nice to have the cursor to be on the screen irrespective of where the code is being typed on the screen. Also, this is purely a suggestion: you can add a square rectangle type cursor to highlight for where the person is supposed to be looking when the code is being typed. <Just a nice-to-have>

[2020-12-12 19:59] TheFern2 opened #96 "testing discord webhooks"
test 123 if you see this message, discord webhooks are working from vscode-stories

[2020-12-12 20:10] bar9 commented on #96
should work now

[2020-12-12 20:10] #96 closed

[2020-12-12 20:11] TheFern2 opened #97 "testing web hook"
123456

[2020-12-12 20:11] #97 closed

[2020-12-12 20:22] bar9 opened #98 "Use design elements from JessicaDosseh"
@JessicaDosseh you sent me this potential design a few weeks ago. Can we still use it? Are you planning to contribute more on this?

[Design GIF](https://ksr-ugc.imgix.net/assets/031/449/061/628508189962aa683e58844068f1d735_original.gif?ixlib=rb-2.1.0&w=700&fit=max&v=1605643862&auto=format&gif-q=50&q=92&s=e9e19ceec6c132c8abb8ecff1b13a28f)

[2020-12-12 20:38] TheFern2 commented on #98
That is very cool, nice and clean design!

[2020-12-12 20:42] JessicaDosseh commented on #98
@bar9 Yeah, you're free to use it. Just let me know what you need.

[2020-12-14 15:27] TheFern2 commented on #67
Yup we need to add a filter to the stories panels, or maybe even next to the refresh button. We'll try to test the github friends route sometime this week.

[2020-12-15 04:18] TheFern2 commented on #88
I believe this is an issue with the api, if I add a bit of latency to the middleware and click really fast, the database throws duplicate key errors, and then the ui goes haywire. I think we need to add some rate limiting on those routes to prevent database errors.

![image](https://user-images.githubusercontent.com/10265682/102170461-0f52de80-3e5a-11eb-92e3-9199fc83c9b2.png)

[2020-12-16 00:01] Bukii opened #102 "Incomplete username"
If the length of the username is greater than 8, it just drops the rest. In this example the last "t" of "Test" is missing in the username of the person on the left.
![image](https://user-images.githubusercontent.com/34520811/102287044-e0ac3500-3f39-11eb-897c-9cad27f94351.png)
Maybe add dots.

[2020-12-16 23:49] #88 closed

[2020-12-19 04:39] TheFern2 commented on #102
Do we want to expand the current limit? If we do we might have to expand the size of the circle.

https://github.com/ide-stories/vscode-stories/blob/3bb9b86242c2957c5daee8c5ecb71b3c301da05f/svelte-stuff/components/StoryBubble.svelte#L78

[2020-12-21 13:06] OkiStuff commented on #56
many horrible crimes

[2020-12-23 04:39] #40 closed

[2020-12-23 05:16] TheFern2 commented on #41
@anubra266 are you still interested in helping out?

[2020-12-23 05:19] TheFern2 commented on #39
@bar9 @Bukii  I think this is a good idea to appoint moderators, I don't think we're at that point but should definitely be on the nice to haves.

[2020-12-23 05:28] anubra266 commented on #41
yes I am @TheFern2

[2020-12-23 05:32] TheFern2 commented on #41
Ok, I'll let @bar9 know and perhaps we can have another team member after the holidays. Cheers!

[2020-12-23 05:34] anubra266 commented on #41
Thanks! Happy to help. @TheFern2

[2020-12-28 08:32] bar9 commented on #41
@anubra266 awesome, I'm adding you to the discord group

[2020-12-29 13:31] TheFern2 opened #106 "Poll: Use NPM or Yarn?"
There's been some discussion of the issues that having both package-lock.json and yarn-lock.json create. Mainly if a PR uses one over the other, the opposite lock file won't be updated. Whether is easier just to add them to gitignore, and so on. Not having a lock file makes it hard because you don't get the locked deps.

I know the "best practice" for lock files is to check them in the repo, but s

[2020-12-31 16:39] anubra266 commented on #41
Hi! @bar9  My Discord Invite link is invalid.

[2020-12-31 16:43] Bukii commented on #41
@anubra266 I've sent you a new one on Twitter DMs.

[2020-12-31 18:12] #41 closed

[2021-01-09 15:28] VivanVatsa opened #107 "Stories not working properly"
![image](https://user-images.githubusercontent.com/56357691/104095492-20f29f00-52bd-11eb-8f47-c3817e4d75b0.png)

This is the error that I have been having trouble with.
I tried switching it to different versions and still, the issue persists
what could be the problem?

[2021-01-09 16:01] TheFern2 commented on #107
My first guess is that you still have Ben's extension installed, and that would make sense since that server is offline now. You need to install the new one after the repo was transferred to @bar9 Roland.

![image](https://user-images.githubusercontent.com/10265682/104096309-62556100-5261-11eb-93df-1053a1cff604.png)

The extension is working fine for me right now.

[2021-01-09 16:02] TheFern2 commented on #107
@benawad @bar9 can you guys come to an agreement and unpublish 2.22.0 extension, just to avoid creating confusion in the future.

[2021-01-09 17:45] VivanVatsa commented on #107
@TheFern2 I'm aware of the fact that the whole code has been shifted to the new one and I did install the correct  v2.22.1 from it
still, the same message is displayed, unable to fetch data: error occurred

[2021-01-09 18:13] TheFern2 commented on #107
Ok, can you give us a bit more information, we can't really help just from the fact that you say is not working on your machine alone.

- Did it worked previously and now it stopped working?
- Do you have an exact date when it stopped working, if it worked previously?
- OS
- VScode version

Can you try uninstalling it, and installing it again if you haven't already tried that.

Lastly can you try

[2021-01-09 18:37] benawad commented on #107
@bar9 are you good with me unpublishing it?

[2021-01-10 09:48] bar9 commented on #107
@benawad Yeah, makes sense.
@VivanVatsa can you dm me indicating time and date when you tried loading? I can take a look in the logs, check if I see anything there

[2021-01-10 10:17] VivanVatsa commented on #107
@bar9 it might be difficult for me to recall when it actually started to show this behavior, but the problem has been persistent for like 10 days or more now
@TheFern2 I did try reinstalling / uninstalling / removing all versions and then a fair install, still no luck.
* yes it was working before and now it stopped working
* no I don't have any exact/particular info about when it stopped working,

[2021-01-10 10:20] VivanVatsa commented on #107
well, I cleared cache memory and optimized by disk space and restarted vscode and it seems to work fine now.
but if the problem arises again will surely let you know @bar9

[2021-01-10 16:57] TheFern2 commented on #107
Thanks for the info, we'll keep an eye on our windows users.

[2021-01-10 16:59] VivanVatsa commented on #107
@bar9

[2021-01-10 17:46] VivanVatsa commented on #107
I am experiencing the same problem once again and the time for it is right after my comment of it started working again. I dont know what's the problem, so please help.
so time would be 7 hours ago

[2021-01-10 18:06] TheFern2 commented on #107
bar9 do you think this is a server issue?

VivanVatsa did you tried calling the api with previous url provided?

[2021-01-10 18:11] VivanVatsa commented on #107
yes @TheFern2 I tried that link and still, this message is displayed

![image](https://user-images.githubusercontent.com/56357691/104131599-4951ca80-539d-11eb-8a37-e63844386053.png)

[2021-01-10 18:14] TheFern2 commented on #107
Yeah I'm beginning to think this issue is related to the changes @bar9 did on the api server during the last week or so.

[2021-01-10 18:28] TheFern2 commented on #107
Just out of curiosity, both stories panels show fetch error? The sidebar panel, and the small split panel?

[2021-01-10 18:31] VivanVatsa commented on #107
can you be precise, which all panel @TheFern2 are you talking about?
their is this "s" logo where I click to see all stories, just the usual way.
that's where this message is displayed. and their is this record story (beta) that's the only 2 things displayed regarding vscode stories

[2021-01-10 18:35] TheFern2 commented on #107
the s logo is the sidebar panel, but there is also a smaller panel on the file explorer.

![image](https://user-images.githubusercontent.com/10265682/104132016-30ff9280-5340-11eb-93cf-edddda4a2cbf.png)

[2021-01-10 18:36] Bukii commented on #107
But wouldn't that mean, it isn't working for anyone, tho?

[2021-01-10 18:42] TheFern2 commented on #107
Yeah I dunno what's going on, mine works fine on Linux. I don't use it much at work where I have Windows although I did noticed a very slow fetch one time in Windows.

So it is possible that the fetch is timing out.

[2021-01-10 20:15] TheFern2 opened #109 "Announcement: vscode-stories twitter account"
We have started a twitter account to spread the word about updates, and other interesting news regarding vscode-stories.
Make sure to follow @StoriesVscode if you'd like to keep up with up to date news.

[2021-01-11 04:47] WarenGonzaga commented on #106
what if both yarn and npm? so the user has choice?

[2021-01-11 04:57] WarenGonzaga commented on #28
Stories reaction that's it! Ability to add Emoji reactions to every reactions not just heart

[2021-01-11 05:12] WarenGonzaga commented on #102
I have a better suggestion... add dot's and then add little tooltip hovering the name... I'm working on this right now.

[2021-01-11 12:33] TheFern2 commented on #106
@WarenGonzaga The user can use whatever they want locally, but for the purposes of a PR having two lock files is problematic as one lock file will not be updated at all times. If I don't have yarn installed, and I work on a PR with npm the package-lock.json will be up to date, but not yarn-lock.json, next time someone using yarn does yarn install yarn-lock.json will have thousands of lines updated

[2021-01-11 18:38] TheFern2 commented on #106
This [SO](https://stackoverflow.com/questions/44552348/should-i-commit-yarn-lock-and-package-lock-json-files) provides some context. And most answers I've found online is to use only one package manager for projects, mainly because lock files can get out of sync so easily, so then you have to worry about wrong dependency locked trees + git tracking those changes. There's a package https://www.npmj

[2021-01-12 09:16] bar9 commented on #107
@VivanVatsa I've increased memory of the database. Did that make any difference on your end? Did you get errors lately?

[2021-01-12 09:27] VivanVatsa commented on #107
no luck @bar9 still getting the same error.
accessing from the main extension and the panel. Both display the same error.
really difficult to find what is causing this problem?

![image](https://user-images.githubusercontent.com/56357691/104295110-0e0ee300-54e6-11eb-98fb-e59bb329f4c3.png)

![image](https://user-images.githubusercontent.com/56357691/104295157-19620e80-54e6-11eb-9ed5-deeae33d2c4b.pn

[2021-01-12 13:05] TheFern2 commented on #107
Can you do the following command in cmd prompt, and post results. Run it a few times just to see if time is really high:

[code]

[2021-01-13 11:56] VivanVatsa commented on #107
the ping displays:
[code]

the authentication is working fine when I authenticate it manually as you suggested
but when I try to record and upload it, this is what is displayed even when I have opened a file to record

![image](https://user-images.githubusercontent.com/56357691/104449093-13425f80-55c4-11eb-9a2a-0ffa82004543.png)

[2021-01-13 13:27] TheFern2 commented on #107
Ok so we have two problems here:

- The ping should definitely ping at all times. Something is wrong with either your firewall or ISP provider. This is really odd.
- If you have a file opened, and is giving you that error that's another weird issue.

[2021-01-13 16:02] VivanVatsa commented on #107
did the ping with IP address
the result is this:
![image](https://user-images.githubusercontent.com/56357691/104476887-ba37f300-55e6-11eb-8d3d-76c79cb5504f.png)

for the next step, will use VPN to load stories sure!

[2021-01-13 18:02] TheFern2 commented on #107
This issue has been resolved.  It looks like @VivanVatsa has some dns issues, but we've added an entry in the hosts file to get the extension working properly, but normally this would not be required if dns was resolving properly to the server address.

[2021-01-13 18:02] #107 closed

[2021-01-14 21:01] TheFern2 commented on #106
So I think we might have an issue with using yarn in the foreseeable future. Yarn 2 was released last year, and that means yarn 1 will now be in sort of maintenance mode or legacy mode. Yarn 2 is not compatible with yarn 1 nor npm projects. Even facebook engineers are saying they might even abandon yarn alltogether and use npm which has made some improvements in the last years.

https://dev.to/arc

[2021-01-18 15:33] mrbinary71 commented on #6
I have CORS error !!
An error has occured: Failed to fetch!!

OS: Ubuntu
Stories Ext Version: 2.22.1
VSC Version: 1.52.1

[2021-01-18 15:44] TheFern2 commented on #6
Please open a new issue, where are you seeing a CORS error?

[2021-01-18 17:00] TheFern2 commented on #107
@mrbinary71 can you follow the ping commands on this post. Did you get it sorted out?

[2021-01-18 17:19] mrbinary71 commented on #107
![Screenshot_2021-01-18_20-48-45](https://user-images.githubusercontent.com/37935734/104945911-9ef62a80-59ce-11eb-807c-938673f415c6.png)

@TheFern2

[2021-01-18 17:20] mrbinary71 commented on #107
![Screenshot_2021-01-18_20-48-45](https://user-images.githubusercontent.com/37935734/104946045-c2b97080-59ce-11eb-80a0-83fe5580aa32.png)

[2021-01-18 17:24] mrbinary71 commented on #107
![t1](https://user-images.githubusercontent.com/37935734/104946510-66a31c00-59cf-11eb-8f58-8b6990644365.png)

[2021-01-18 17:28] TheFern2 commented on #107
It looks like the same issue with dns that Vivan had. This is very strange.

@bar9 do you think Google has countries in some sort of ban? I wouldn't think so, but we have now two users with dns issues.

Can you add an entry in /etc/hosts? And try again.

[2021-01-18 18:16] mrbinary71 commented on #107
I add this entry in /etc/hosts, and It's work fine, thanks.
`216.58.194.52    vscode-stories-295306.uk.r.appspot.com`
@TheFern2

[2021-01-18 18:19] TheFern2 commented on #107
Nice, you're welcome, I really don't know why dns is not resolving, but we'll try to make a note about this once we setup docs folder in the repo.

[2021-01-19 00:09] Bukii commented on #67
This idea is now implemented in v2.23.0 - this version will be released as soon as possible.

[2021-01-19 00:09] #67 closed

[2021-01-19 20:02] TheFern2 commented on #106
Yarn is winner, in the next upcoming days I'll be adding package-lock.json to gitignore and adding documentation on how to contribute. I've added to top prio. Locking issue, but not closing until is fixed in the repo.

[2021-01-21 18:23] Bukii opened #115 "Story speed change bug"
## Expected Behavior
If you change the speed of the replay, it should play faster/slower. Starting from the same timestamp.
Example: If I change to 2x at 0:17 it should move twice as fast starting from 0:17.

## Current Behavior
If you change to let's say 2x at 0:17, the story's current position in time changes to where the story would be, if it had been played at 2x from the beginning.
Here's a s

[2021-01-24 12:25] TheFern2 opened #117 "Announcement: Join our discord server"
Join our discord server https://discord.gg/ABpGdRxvaA

[2021-01-27 14:45] TheFern2 opened #123 "Updating extension stories won't load"
## Expected Behavior

Stories should load when updating extension. Loading stories should not require authentication.

## Current Behavior

Getting "An Error occurred, not authenticated" on sidebar panel and vscode message.

## Steps to Reproduce

1. Have version 2.22.1 installed
2. Update extension
3. Hit S button for stories
4. Error shows up

## Screenshots

![image](https://user-images.githubu

[2021-02-01 15:50] TheFern2 commented on #115
The finalMs doesn't change at all I dunno if is the only bug in there, but it looks very suspicious to me.
If you have 3x, and hit replay, then 2x while is playing you can see the whole period that is waiting to put the next letter, but if you select a faster speed it just jumps and finish quickly. We might also have to reassign `playBackDateStart` when speed is changed.

Basically when the speed

[2021-02-01 16:02] TheFern2 commented on #10
Closing. Right now @Bukii has implemented friends within the extension based on who you are following on github. I've added searching to the roadmap.

[2021-02-01 16:02] #10 closed

[2021-02-01 16:03] TheFern2 commented on #19
This is on the roadmap.

[2021-02-01 16:04] #20 closed

[2021-02-01 16:06] #94 closed

[2021-02-01 16:07] #106 closed

[2021-02-01 16:08] #117 closed

[2021-02-01 16:08] #109 closed

[2021-02-01 16:09] #102 closed

[2021-02-01 16:10] TheFern2 commented on #102
Lemme know if you're still working on this, and I'll reopen.

[2021-02-01 16:10] NatoBoram commented on #19
Did you just say "This is on the roadmap" then close the issue without pointing out which issue on said roadmap it was?

[2021-02-01 16:17] TheFern2 commented on #19
Projects/Roadmap, we have a list there for this functionality. https://github.com/ide-stories/vscode-stories/projects

We are not adding all this issues to the roadmap, as that will become to convoluted.

[2021-02-01 16:32] TheFern2 commented on #19
Reopening will close when is implemented.

[2021-02-01 16:33] TheFern2 commented on #66
@bar9 are we good to go to add server url for user configuration?

[2021-02-01 16:40] TheFern2 commented on #66
Also this is duplicate of #53 closing and leaving that one open.

[2021-02-01 16:40] #66 closed

[2021-02-01 16:41] TheFern2 commented on #53
@bar9 are we good to go to add server url for user configuration?

[2021-02-01 19:35] TheFern2 commented on #98
@bar9 we prob should have let @JessicaDosseh commit the logo onto the repo for proper credit.
Will give her credit on the readme.

[2021-02-01 19:35] #98 closed

[2021-02-01 20:00] TheFern2 commented on #98
@JessicaDosseh I've added an easter egg to the code inside [constants.ts](https://github.com/ide-stories/vscode-stories/blob/master/src/constants.ts) I tried adding you as coauthor in the readme and you weren't showing up as contributor. I wanted to make sure you got credit for the logo.

![image](https://user-images.githubusercontent.com/10265682/106511342-b71d7d80-6495-11eb-8d40-edab2a0b6f8b.png

[2021-02-03 19:49] bar9 commented on #53
@TheFern2 sure

[2021-02-15 02:51] #28 closed

[2021-02-23 05:14] AbhayVAshokan opened #127 "Non-sequential editing of code renders wrong code in story"
## Expected Behavior
Mimic what I am typing even if I enter the code sequentially or write different parts of the code.

## Current Behavior
The following are not recognized
1. Using the arrow keys to navigate to a previous position and continue to type from there.
2. Using the mouse to place the cursor to a different position and continue type to type from there.

In both these situations, the re

[2021-02-23 05:16] AbhayVAshokan commented on #127
In addition to this, paste operation creates similar results.

[2021-02-23 09:36] Bukii commented on #127
Hey, when you relocate the cursor to another position and the proceed typing, this new text will be placed on the very bottom of the code, like if you have never changed the cursor position, am I understanding this correctly?

[2021-02-23 09:53] AbhayVAshokan commented on #127
Yes, that is exactly what the issue meant. I started out by placing the cursor in the middle of some code. The first few characters are rendered as required. Changing cursor position by arrow keys or mouse are not recognized and are directly added to the same line.
Also, it replaced characters in the succeeding lines when it touched them.

[2021-02-23 10:36] Bukii commented on #127
Ok, thanks for opening this issue. Actually, there's already an issue explaining the same problem (#90), where code snippets get overwritten, but since this one is better documented, I will keep this open.

[2021-02-23 10:37] Bukii commented on #90
Same issue: #127
But I will close this one, since #127 is better documented.

[2021-02-23 10:37] #90 closed

[2021-07-02 12:36] #68 closed